// vars
$mobile-breakpoint: 998px;
$small-desktop-breakpoint: 1500px;
$mobile-menu-height: 60px;
$y-margin: 64px;
$x-margin: 100px;

@font-face {
  font-family: 'nunito';
  src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('../fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'nunito', sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  box-sizing: border-box;
  padding: 15px 15px;
  height: calc(100vh - #{$mobile-menu-height});
  @media screen and (min-width: $mobile-breakpoint) {
    height: 100vh;
    padding: $y-margin $x-margin;
  }
}

//   /$$$$$$  /$$      /$$                              
//  /$$__  $$| $$$    /$$$                              
// | $$  \__/| $$$$  /$$$$  /$$$$$$  /$$$$$$$  /$$   /$$
// | $$      | $$ $$/$$ $$ /$$__  $$| $$__  $$| $$  | $$
// | $$      | $$  $$$| $$| $$$$$$$$| $$  \ $$| $$  | $$
// | $$    $$| $$\  $ | $$| $$_____/| $$  | $$| $$  | $$
// |  $$$$$$/| $$ \/  | $$|  $$$$$$$| $$  | $$|  $$$$$$/
//  \______/ |__/     |__/ \_______/|__/  |__/ \______/ 
.menu__title {
  z-index: 999;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 29px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  margin: 0 0 0 15px;
  height: $mobile-menu-height;
  line-height: $mobile-menu-height;
  color: black;
  @media screen and (min-width: $mobile-breakpoint) {
    margin: 0;
    padding: $y-margin 0 0 $x-margin;
    font-size: 44px;
    height: auto;
    line-height: auto;
  }
  span {
    font-weight: 900;
  }
}
.menu__nav {
  background: rgba($color: #fff, $alpha: .7);
  z-index: 998;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: calc(100vh - #{$mobile-menu-height});
  width: 100%;
  @media screen and (min-width: $mobile-breakpoint) {
    transform: translateX(0);
    opacity: 1;
    align-items: flex-start;
    transform-origin: bottom left;
    width: 100vh;
    $nav-height: 25px;
    height: $nav-height;
    bottom: 0;
    left: calc(#{$x-margin} + #{$nav-height});
    transform: rotate(-90deg);
    background: transparent;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $mobile-breakpoint) {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    li {
      margin: 25px 0;
      @media screen and (min-width: $mobile-breakpoint) {
        margin: 0;
      }
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
      color: #000;
      transition: color .2s ease-out;
      margin: 0 25px;
      &:visited {
        color: #000;
      }
      &:hover {
        color: #a0a0a0;
      }
    }
  }
}
.menu__pictos {
  z-index: 999;
  position: absolute;
  bottom: $y-margin;
  left: 100px;
  list-style-type: none;
  display: none;
  @media screen and (min-width: $mobile-breakpoint) {
    display: flex;
  }
  margin: 0;
  padding: 0;
  & li {
    transition: opacity .2s ease-out;
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      opacity: .4;
    }
  }
}
.menu__burger-wrapper {
  height: $mobile-menu-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (min-width: $mobile-breakpoint) {
    display: none;    
  }
  img {
    margin-right: 15px;
    cursor: pointer;
  }
}

//  /$$    /$$ /$$   /$$                                  
// | $$   | $$| $$  | $$                                  
// | $$   | $$| $$  | $$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$ 
// |  $$ / $$/| $$$$$$$$ /$$__  $$| $$_  $$_  $$ /$$__  $$
//  \  $$ $$/ | $$__  $$| $$  \ $$| $$ \ $$ \ $$| $$$$$$$$
//   \  $$$/  | $$  | $$| $$  | $$| $$ | $$ | $$| $$_____/
//    \  $/   | $$  | $$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$
//     \_/    |__/  |__/ \______/ |__/ |__/ |__/ \_______/
.v-home {
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: 50% 400px;
  .v-home__images-container {
    height: 100%;
    position: relative;
    img {
      transform-style: preserve-3d;
      z-index: 555;
      position: absolute;
      max-height: 70%;
      max-width: 70%;
      @media screen and (min-width: $mobile-breakpoint) {
        max-height: 70%;
        max-width: 70%;
        min-height: 60%;
      }
      transform-origin: top right;
      transition: all 1s ease-out;
      right: 20%;
      top: 0;
      &:first-child {
        right: 30%;
        top: 10%;
      }
      &:last-child {
        right: 10%;
        top: 7%;
      }
    }
  }
  .v-home__new-box-wrapper {
    display: none;
    z-index: 999;
    position: absolute;
    height: 100%;
    $nav-height: 25px;
    width: $nav-height;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    @media screen and (min-width: $mobile-breakpoint) {
      display: flex;
    }
    .v-home__new-box {
      transform-origin: bottom right;
      position: absolute;
      width: 300px;
      transform: rotate(-90deg) translateX(150px);
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
      transition: color .2s ease-out;
      margin: 0;
      &:hover {
        color: #a0a0a0;
      }
    }
  }
}

//  /$$    /$$  /$$$$$$  /$$                             /$$    
// | $$   | $$ /$$__  $$| $$                            | $$    
// | $$   | $$| $$  \ $$| $$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$  
// |  $$ / $$/| $$$$$$$$| $$__  $$ /$$__  $$| $$  | $$|_  $$_/  
//  \  $$ $$/ | $$__  $$| $$  \ $$| $$  \ $$| $$  | $$  | $$    
//   \  $$$/  | $$  | $$| $$  | $$| $$  | $$| $$  | $$  | $$ /$$
//    \  $/   | $$  | $$| $$$$$$$/|  $$$$$$/|  $$$$$$/  |  $$$$/
//     \_/    |__/  |__/|_______/  \______/  \______/    \___/  
.v-about {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 0;
  @media screen and (min-width: $mobile-breakpoint) {
    justify-content: flex-end;
    padding-left: 166px;
  }
  div h1 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
  }
  div p{
    margin: 0;
    font-weight: normal;
    line-height: 23px;
    font-size: 15px;
    @media screen and (min-width: $small-desktop-breakpoint) {
      font-size: 17px;
    }
  }
  div h1{
    padding-bottom: 15px;
    @media screen and (min-width: $small-desktop-breakpoint) {
      padding-bottom: 26px;
    }
  }
  .apropos {
    margin-top: 100px;
    @media screen and (min-width: $mobile-breakpoint) {
      margin: 0;
    }
  }
  .apropos p, .clients p {
    max-width: 459px;
  }
  .apropos, .clients, .contacts {
    padding-bottom: 30px;
    @media screen and (min-width: $small-desktop-breakpoint) {
      padding-bottom: 52px;
    }
  }
  /*CONTACTS*/
  .contacts div p{
    font-size: 13px;
    @media screen and (min-width: $small-desktop-breakpoint) {
      font-size: 15px;
    }
    line-height: 26px;
  }
  .contacts{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: row;
    }
  }
  .represent{
    padding-right: 63px;
  }
  .watermark p{
    font-size: 10px !important;
  }
  .imageMartinBruno{
    width: 100%;
    height: 67px;
    max-height: 67px;
    position: absolute;
    background: url(/public/infos/martin_bruno.png);
    background-position: 50% 23%;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    @media screen and (min-width: $mobile-breakpoint) {
      height: auto;
      max-height: 100%;
      width: 35%;
      flex-direction: row;
    }
    img {
      display: none;
      object-fit: cover;
      width: 100%;
      @media screen and (min-width: $mobile-breakpoint) {
        display: block;
      }
    }
  }
  .imageClients{
    width: 199px;
    height: 296px; 
    background-size: cover;
    position: absolute;
    right: calc(35% - 199px / 2);
    top: 20%;
    transition: background-image .5s ease-in-out;
    display: none;
    @media screen and (min-width: $mobile-breakpoint) {
      display: block;
    }
    @media screen and (min-width: $small-desktop-breakpoint) {
      right: calc(35% - 265px / 2);
      width: 265px;
      height: 395px;
    }
  }
}

//  /$$    /$$  /$$$$$$                      /$$                    
// | $$   | $$ /$$__  $$                    |__/                    
// | $$   | $$| $$  \__/  /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$$
// |  $$ / $$/|  $$$$$$  /$$__  $$ /$$__  $$| $$ /$$__  $$ /$$_____/
//  \  $$ $$/  \____  $$| $$$$$$$$| $$  \__/| $$| $$$$$$$$|  $$$$$$ 
//   \  $$$/   /$$  \ $$| $$_____/| $$      | $$| $$_____/ \____  $$
//    \  $/   |  $$$$$$/|  $$$$$$$| $$      | $$|  $$$$$$$ /$$$$$$$/
//     \_/     \______/  \_______/|__/      |__/ \_______/|_______/ 
.v-series {
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: 50% 400px;
  .v-series__images-container {
    height: 100%;
    position: relative;
    img {
      transform-style: preserve-3d;
      z-index: 555;
      position: absolute;
      max-height: 70%;
      max-width: 70%;
      @media screen and (min-width: $mobile-breakpoint) {
        max-height: 70%;
        max-width: 70%;
        min-height: 60%;
      }
      transform-origin: top right;
      transition: all 1s ease-out;
      right: 20%;
      top: 0;
      &:first-child {
        right: 30%;
        top: 10%;
      }
      &:last-child {
        right: 10%;
        top: 7%;
      }
    }
  }
  .v-series__button-wrapper {
    display: flex;
    z-index: 999;
    position: absolute;
    $nav-height: 25px;
    height: $nav-height;
    width: 100%;
    right: 0;
    bottom: 0;
    justify-content: center;
    @media screen and (min-width: $mobile-breakpoint) {
      justify-content: flex-end;
      align-items: center;
      width: $nav-height;
      height: 100%;
    }
    .v-series__button {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
      transition: color .2s ease-out;
      margin: 0;
      @media screen and (min-width: $mobile-breakpoint) {
        transform-origin: bottom right;
        position: absolute;
        width: 300px;
        transform: rotate(-90deg) translateX(150px);
        text-align: center;
      }
      &:hover {
        color: #a0a0a0;
      }
    }
  }
  .v-series__menu {
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #fff, $alpha: .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    @media screen and (min-width: $mobile-breakpoint) {
      padding: $y-margin $x-margin;
      box-sizing: border-box;
      justify-content: flex-end;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 0;
      @media screen and (min-width: $mobile-breakpoint) {
        align-items: flex-end;
      }
      li {
        margin: 15px 0
      }
      a {
        color: black;
        opacity: .5;
        text-decoration: none;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
          color: #a0a0a0;
        }
        &:visited {
          color: black;
        }
      }
      .current {
        opacity: 1;
      }
    }
    img {
      position: absolute;
      bottom: 15px;
      @media screen and (min-width: $mobile-breakpoint) {
        bottom: auto;
        top: $y-margin;
      }
    }
  }
}
