// vars
$mobile-breakpoint: 998px;
$y-margin: 64px;
$x-margin: 100px;

@font-face {
  font-family: 'nunito';
  src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('../fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'nunito', sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  padding: $y-margin $x-margin;
}

//   /$$$$$$  /$$      /$$                              
//  /$$__  $$| $$$    /$$$                              
// | $$  \__/| $$$$  /$$$$  /$$$$$$  /$$$$$$$  /$$   /$$
// | $$      | $$ $$/$$ $$ /$$__  $$| $$__  $$| $$  | $$
// | $$      | $$  $$$| $$| $$$$$$$$| $$  \ $$| $$  | $$
// | $$    $$| $$\  $ | $$| $$_____/| $$  | $$| $$  | $$
// |  $$$$$$/| $$ \/  | $$|  $$$$$$$| $$  | $$|  $$$$$$/
//  \______/ |__/     |__/ \_______/|__/  |__/ \______/ 
.menu__title {
  z-index: 999;
  margin: 0;
  padding: $y-margin 0 0 $x-margin;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  span {
    font-weight: 900;
  }
}
.menu__nav {
  z-index: 998;
  position: absolute;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  width: 100vh;
  $nav-height: 25px;
  height: $nav-height;
  left: calc(#{$x-margin} + #{$nav-height});
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
      margin: 0 25px;
      color: #000;
      transition: color .2s ease-out;
      &:visited {
        color: #000;
      }
      &:hover {
        color: #a0a0a0;
      }
    }
  }
}
.menu__pictos {
  z-index: 999;
  position: absolute;
  bottom: $y-margin;
  left: 100px;
  list-style-type: none;
  display: none;
  @media screen and (min-width: $mobile-breakpoint) {
    display: flex;
  }
  margin: 0;
  padding: 0;
  & li {
    transition: opacity .2s ease-out;
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      opacity: .4;
    }
  }
}

//  /$$    /$$ /$$   /$$                                  
// | $$   | $$| $$  | $$                                  
// | $$   | $$| $$  | $$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$ 
// |  $$ / $$/| $$$$$$$$ /$$__  $$| $$_  $$_  $$ /$$__  $$
//  \  $$ $$/ | $$__  $$| $$  \ $$| $$ \ $$ \ $$| $$$$$$$$
//   \  $$$/  | $$  | $$| $$  | $$| $$ | $$ | $$| $$_____/
//    \  $/   | $$  | $$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$
//     \_/    |__/  |__/ \______/ |__/ |__/ |__/ \_______/
.v-home {
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: 50% 400px;
  .v-home__images-container {
    height: 100%;
    position: relative;
    img {
      transform-style: preserve-3d;
      z-index: 555;
      position: absolute;
      max-height: 70%;
      max-width: 70%;
      min-height: 60%;
      transform-origin: top right;
      transition: all 1s ease-out;
      right: 20%;
      top: 0;
      &:first-child {
        right: 30%;
        top: 10%;
      }
      &:last-child {
        right: 10%;
        top: 7%;
      }
    }
  }
  .v-home__new-box-wrapper {
    z-index: 999;
    position: absolute;
    height: 100%;
    $nav-height: 25px;
    width: $nav-height;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .v-home__new-box {
      transform-origin: bottom right;
      position: absolute;
      width: 300px;
      transform: rotate(-90deg) translateX(150px);
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
      transition: color .2s ease-out;
      margin: 0;
      &:hover {
        color: #a0a0a0;
      }
    }
  }
}
