@font-face {
  font-family: 'nunito';
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'nunito', sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 15px;
  height: calc(100vh - 60px);
}

@media screen and (min-width: 998px) {
  .container {
    height: 100vh;
    padding: 64px 100px;
  }
}

.menu__title {
  z-index: 999;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 29px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  margin: 0 0 0 15px;
  height: 60px;
  line-height: 60px;
  color: black;
}

@media screen and (min-width: 998px) {
  .menu__title {
    margin: 0;
    padding: 64px 0 0 100px;
    font-size: 44px;
    height: auto;
    line-height: auto;
  }
}

.menu__title span {
  font-weight: 900;
}

.menu__nav {
  background: rgba(255, 255, 255, 0.7);
  z-index: 998;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: calc(100vh - 60px);
  width: 100%;
}

@media screen and (min-width: 998px) {
  .menu__nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    width: 100vh;
    height: 25px;
    bottom: 0;
    left: calc(100px + 25px);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: transparent;
  }
}

.menu__nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 998px) {
  .menu__nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.menu__nav ul li {
  margin: 25px 0;
}

@media screen and (min-width: 998px) {
  .menu__nav ul li {
    margin: 0;
  }
}

.menu__nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin: 0 25px;
}

.menu__nav ul a:visited {
  color: #000;
}

.menu__nav ul a:hover {
  color: #a0a0a0;
}

.menu__pictos {
  z-index: 999;
  position: absolute;
  bottom: 64px;
  left: 100px;
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 998px) {
  .menu__pictos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__pictos li {
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.menu__pictos li:not(:first-child) {
  margin-left: 10px;
}

.menu__pictos li:not(:last-child) {
  margin-right: 10px;
}

.menu__pictos li:hover {
  opacity: .4;
}

.menu__burger-wrapper {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 998px) {
  .menu__burger-wrapper {
    display: none;
  }
}

.menu__burger-wrapper img {
  margin-right: 15px;
  cursor: pointer;
}

.v-home {
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 400px;
          perspective-origin: 50% 400px;
}

.v-home .v-home__images-container {
  height: 100%;
  position: relative;
}

.v-home .v-home__images-container img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 555;
  position: absolute;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  right: 20%;
  top: 0;
}

@media screen and (min-width: 998px) {
  .v-home .v-home__images-container img {
    max-height: 70%;
    max-width: 70%;
    min-height: 60%;
  }
}

.v-home .v-home__images-container img:first-child {
  right: 30%;
  top: 10%;
}

.v-home .v-home__images-container img:last-child {
  right: 10%;
  top: 7%;
}

.v-home .v-home__new-box-wrapper {
  display: none;
  z-index: 999;
  position: absolute;
  height: 100%;
  width: 25px;
  right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 998px) {
  .v-home .v-home__new-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.v-home .v-home__new-box-wrapper .v-home__new-box {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  position: absolute;
  width: 300px;
  -webkit-transform: rotate(-90deg) translateX(150px);
          transform: rotate(-90deg) translateX(150px);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin: 0;
}

.v-home .v-home__new-box-wrapper .v-home__new-box:hover {
  color: #a0a0a0;
}

.v-about {
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  /*CONTACTS*/
}

@media screen and (min-width: 998px) {
  .v-about {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 166px;
  }
}

.v-about div h1 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
}

.v-about div p {
  margin: 0;
  font-weight: normal;
  line-height: 23px;
  font-size: 15px;
}

@media screen and (min-width: 1500px) {
  .v-about div p {
    font-size: 17px;
  }
}

.v-about div h1 {
  padding-bottom: 15px;
}

@media screen and (min-width: 1500px) {
  .v-about div h1 {
    padding-bottom: 26px;
  }
}

.v-about .apropos {
  margin-top: 100px;
}

@media screen and (min-width: 998px) {
  .v-about .apropos {
    margin: 0;
  }
}

.v-about .apropos p, .v-about .clients p {
  max-width: 459px;
}

.v-about .apropos, .v-about .clients, .v-about .contacts {
  padding-bottom: 30px;
}

@media screen and (min-width: 1500px) {
  .v-about .apropos, .v-about .clients, .v-about .contacts {
    padding-bottom: 52px;
  }
}

.v-about .contacts div p {
  font-size: 13px;
  line-height: 26px;
}

@media screen and (min-width: 1500px) {
  .v-about .contacts div p {
    font-size: 15px;
  }
}

.v-about .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 998px) {
  .v-about .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.v-about .represent {
  padding-right: 63px;
}

.v-about .watermark p {
  font-size: 10px !important;
}

.v-about .imageMartinBruno {
  width: 100%;
  height: 67px;
  max-height: 67px;
  position: absolute;
  background: url(/public/infos/martin_bruno.png);
  background-position: 50% 23%;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}

@media screen and (min-width: 998px) {
  .v-about .imageMartinBruno {
    height: auto;
    max-height: 100%;
    width: 35%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.v-about .imageMartinBruno img {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 998px) {
  .v-about .imageMartinBruno img {
    display: block;
  }
}

.v-about .imageClients {
  width: 199px;
  height: 296px;
  background-size: cover;
  position: absolute;
  right: calc(35% - 199px / 2);
  top: 20%;
  -webkit-transition: background-image .5s ease-in-out;
  transition: background-image .5s ease-in-out;
  display: none;
}

@media screen and (min-width: 998px) {
  .v-about .imageClients {
    display: block;
  }
}

@media screen and (min-width: 1500px) {
  .v-about .imageClients {
    right: calc(35% - 265px / 2);
    width: 265px;
    height: 395px;
  }
}

.v-series {
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 400px;
          perspective-origin: 50% 400px;
}

.v-series .v-series__images-container {
  height: 100%;
  position: relative;
}

.v-series .v-series__images-container img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 555;
  position: absolute;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  right: 20%;
  top: 0;
}

@media screen and (min-width: 998px) {
  .v-series .v-series__images-container img {
    max-height: 70%;
    max-width: 70%;
    min-height: 60%;
  }
}

.v-series .v-series__images-container img:first-child {
  right: 30%;
  top: 10%;
}

.v-series .v-series__images-container img:last-child {
  right: 10%;
  top: 7%;
}

.v-series .v-series__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: absolute;
  height: 25px;
  width: 100%;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 998px) {
  .v-series .v-series__button-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 100%;
  }
}

.v-series .v-series__button-wrapper .v-series__button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin: 0;
}

@media screen and (min-width: 998px) {
  .v-series .v-series__button-wrapper .v-series__button {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    position: absolute;
    width: 300px;
    -webkit-transform: rotate(-90deg) translateX(150px);
            transform: rotate(-90deg) translateX(150px);
    text-align: center;
  }
}

.v-series .v-series__button-wrapper .v-series__button:hover {
  color: #a0a0a0;
}

.v-series .v-series__menu {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media screen and (min-width: 998px) {
  .v-series .v-series__menu {
    padding: 64px 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.v-series .v-series__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 998px) {
  .v-series .v-series__menu ul {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.v-series .v-series__menu ul li {
  margin: 15px 0;
}

.v-series .v-series__menu ul a {
  color: black;
  opacity: .5;
  text-decoration: none;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
}

.v-series .v-series__menu ul a:hover {
  color: #a0a0a0;
}

.v-series .v-series__menu ul a:visited {
  color: black;
}

.v-series .v-series__menu ul .current {
  opacity: 1;
}

.v-series .v-series__menu img {
  position: absolute;
  bottom: 15px;
}

@media screen and (min-width: 998px) {
  .v-series .v-series__menu img {
    bottom: auto;
    top: 64px;
  }
}
/*# sourceMappingURL=style.css.map */