@font-face {
  font-family: 'nunito';
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'nunito', sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 15px;
  height: calc(100vh - 60px);
}

@media screen and (min-width: 998px) {
  .container {
    height: 100vh;
    padding: 64px 100px;
  }
}

.menu__title {
  z-index: 999;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 29px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  margin: 0 0 0 15px;
  height: 60px;
  line-height: 60px;
}

@media screen and (min-width: 998px) {
  .menu__title {
    margin: 0;
    padding: 64px 0 0 100px;
    font-size: 44px;
    height: auto;
    line-height: auto;
  }
}

.menu__title span {
  font-weight: 900;
}

.menu__nav {
  background: rgba(255, 255, 255, 0.7);
  z-index: 998;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: calc(100vh - 60px);
  width: 100%;
}

@media screen and (min-width: 998px) {
  .menu__nav {
    opacity: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    width: 100vh;
    height: 25px;
    bottom: 0;
    left: calc(100px + 25px);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 998px) {
  .menu__nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.menu__nav ul li {
  margin: 25px 0;
}

@media screen and (min-width: 998px) {
  .menu__nav ul li {
    margin: 0;
  }
}

.menu__nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin: 0 25px;
}

.menu__nav ul a:visited {
  color: #000;
}

.menu__nav ul a:hover {
  color: #a0a0a0;
}

.menu__pictos {
  z-index: 999;
  position: absolute;
  bottom: 64px;
  left: 100px;
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 998px) {
  .menu__pictos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__pictos li {
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.menu__pictos li:not(:first-child) {
  margin-left: 10px;
}

.menu__pictos li:not(:last-child) {
  margin-right: 10px;
}

.menu__pictos li:hover {
  opacity: .4;
}

.menu__burger-wrapper {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 998px) {
  .menu__burger-wrapper {
    display: none;
  }
}

.menu__burger-wrapper img {
  margin-right: 15px;
  cursor: pointer;
}

.v-home {
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 400px;
          perspective-origin: 50% 400px;
}

.v-home .v-home__images-container {
  height: 100%;
  position: relative;
}

.v-home .v-home__images-container img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 555;
  position: absolute;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  right: 20%;
  top: 0;
}

@media screen and (min-width: 998px) {
  .v-home .v-home__images-container img {
    max-height: 70%;
    max-width: 70%;
    min-height: 60%;
  }
}

.v-home .v-home__images-container img:first-child {
  right: 30%;
  top: 10%;
}

.v-home .v-home__images-container img:last-child {
  right: 10%;
  top: 7%;
}

.v-home .v-home__new-box-wrapper {
  display: none;
  z-index: 999;
  position: absolute;
  height: 100%;
  width: 25px;
  right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 998px) {
  .v-home .v-home__new-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.v-home .v-home__new-box-wrapper .v-home__new-box {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  position: absolute;
  width: 300px;
  -webkit-transform: rotate(-90deg) translateX(150px);
          transform: rotate(-90deg) translateX(150px);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin: 0;
}

.v-home .v-home__new-box-wrapper .v-home__new-box:hover {
  color: #a0a0a0;
}
/*# sourceMappingURL=style.css.map */